/*============ Google Fonts ==================*/

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');

/*============ Google Fonts ==================*/

/* font-family: "Montserrat", serif; */
/* font-family: "Space Grotesk", serif; */
/* font-family: "Inter", serif; */

/*============ Google Fonts ==================*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Space Grotesk", serif;
    font-size: 1.5rem;
    line-height: 1.5;
}

img,
svg {
  width: 100%;
  max-width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  vertical-align: middle;
}

ul,
p {
  margin: 0;
  padding: 0;
}

li {
    list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
  color: black;
  font-size: 2.4rem;
  font-weight: bold;
}

a:hover {
  text-decoration: none;
}

.btn {
    font-size: 1.8rem;
    font-weight: 600;
    padding: 1rem 2.4rem;
    width: fit-content;
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
    border: 0;
    color: #fff;
}

.dark_yellow {
    background-color:  #F7931A;
}

.light_yellow {
    background-color: #00B67A;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.container {
    width: 128rem;
    margin: 0 auto;
}

.heading-1 {
    font-size: 5.5rem;
}

.heading-2 {
    font-size: 4.4rem;
}

.desc-1 {
    font-size: 1.8rem;
}

.desc-2 {
    font-size: 1.6rem;
}


/* Header & Nav */

.nav_custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_menu {
    margin-left: -18rem;
}

.nav_list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
}

.nav_buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
}

.nav_buttons .nav_btn_1 {
    color: #667085;
    font-size: 1.6rem;
    font-weight: 600;
}

.nav_buttons .nav_btn_2{
    color: #1A1E42;
    font-weight: 600;
    font-style: 1.8rem;
    padding: 1rem 2.7rem;
    border: 1px solid #1A1E42
}

.nav_logo {
    font-family: "Montserrat", serif;
    font-size: 3rem;
    font-weight: 600;
    color: #1A1E42;
}

.nav-link {
    font-size: 1.6rem;
    font-weight: 600;
    color: #667085;
}

/* Home */

.home_content {
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}

.home_left {
    flex: 1;
    padding: 0 82px;
}

.home_right .home_img {
    width: 537px;
}

.home_head h1 {
    font-weight: 600;
    color: #1A1E42;
}

.home_head span {
    color: #F7931A;
}

.home_head .home_desc{
    font-size: 1.8rem;
    color: #1A1E42CC;
    font-weight: 400;
    margin-top: 2.4rem;
    margin-bottom: 4.8rem;
}

.head_logos {
    color: #98A2B3;
    margin-top: 8rem;
}

.head_logo_content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 1.5rem;
}

.head_logo_content img {
    width: initial;
}

.head_logo_contents {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}